body {
  background-color:black
}

.search-section {
  margin: 0;
  position: absolute;
  left: 14%;
  top: 50%;
  width: 72%;
  padding: 10px;
  color: white;

}

.form-group {
  margin: 0;
  padding: 10px;
  position: relative;
  text-align: left;
}
.form-check.form-check-inline {
    position: relative;
    top: -70px;
    right: -75%;
    font-size: 115%;
}

.dropdown-check-list {
    position: relative;
    left: 14px;
    top: -24px;
    color: black;
    display: flex;
}

#helpBtn {
  position: fixed;
  bottom: 5px;
  right: 10px;
}

h1 {
    position: absolute;
    font-size: 75px;
    top: 40%;
    left: 42%;
    margin-bottom: 1px;
    color: white;
}

