body {
  background-color:black;
}

h1 {
  color: white;
  position: relative;
  top: 10px;
  text-align: center;
}

.backbutton {
  position:absolute;
  top: 10%;
  left: 10%;
}

#results {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

#results > .container {
  float: left;
  border: 2px solid black;
  width: 45%;
  margin: 1.66%;
}

.container {
  position: relative;
  width: 50%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 90%;
  left: 87%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
}