<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    let firstImageLoc = '{{ image_urls[0] }}'
    let secondImageLoc = '{{ image_urls[1] }}'
    let thirdImageLoc = '{{ image_urls[2] }}'
    let fourthImageLoc = '{{ image_urls[3] }}'
  </script>
  <script type="module" src="{{ url_for('static', filename='search.js') }}" ></script>


  <title>AI-Based Sticker Generation</title>
</head>
<body>
  <h1>{{ query }}</h1>

  <a href="{{ url_for('home') }}" class='btn btn-secondary' id='backbutton'>Create New Search Query</a>

  <div id="results">

    <script type=text/javascript>
      function download_from_url(url, filename) {
        var underscore_filename = filename.replace(/ /g,"_");
        fetch(url).then(function(t) {
            return t.blob().then((b)=>{
                var a = document.createElement("a");
                a.href = URL.createObjectURL(b);
                a.setAttribute("download", underscore_filename);
                a.click();
            }
            );
        });
      }
    </script>

    <script type=text/javascript>
      function vary_image(url) {
           fetch(url).then(res => res.blob())
          .then(blob => {
              const formData = new FormData();
              formData.append('image', blob, 'image');
              formData.append("url", url);
              fetch("{{ url_for('search', query=query) }}", {
                      method: "POST",
                      body: formData
                  }).then(response => response.text()).then((newUrl) => {
                      console.log(newUrl)
                      firstImage.src = newUrl
                  });
          });
      }
    </script>
    
    <div class="container" id="img_1">
      <img id="firstImage" src={{ image_urls[0] }} alt="query result one"/>
      <button id="openFirstImageModal" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#img_1_modal">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>

        <button class="btn btn-default"  onclick="vary_image(firstImage.src)">
            <i class="glyphicon glyphicon-random"></i>
        </button>

      <button class='btn' onclick="download_from_url(firstImage.src, 'download_{{query}}_1.png')">
        <i class="fa fa-download"></i>
      </button>
    </div>

    <div class="container" id="img_2">
      <img id="secondImage" src={{ image_urls[1] }} alt="query result two">
      <button id="openSecondImageModal" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#img_2_modal">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
        <button class="btn btn-default"  onclick="vary_image(secondImage.src)">
            <i class="glyphicon glyphicon-random"></i>
        </button>
      <button class='btn' onclick="download_from_url(secondImage.src, 'download_{{query}}_2.png')">
        <i class="fa fa-download"></i>
      </button>
    </div>

    <div class="container" id="img_3">
      <img id="thirdImage" src={{ image_urls[2] }} alt="query result three"/>
      <button id="openThirdImageModal" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#img_3_modal">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
        <button class="btn btn-default"  onclick="vary_image(thirdImage.src)">
            <i class="glyphicon glyphicon-random"></i>
        </button>
      <button class='btn' onclick="download_from_url(thirdImage.src, 'download_{{query}}_3.png')">
        <i class="fa fa-download"></i>
      </button>
    </div>

    <div class="container" id="img_4">
    <img id="fourthImage" src={{ image_urls[3] }} alt="query result four"/>
      <button id="openFourthImageModal" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#img_4_modal">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
        <button class="btn btn-default"  onclick="vary_image(fourthImage.src)">
            <i class="glyphicon glyphicon-random"></i>
        </button>
      <button class='btn' onclick="download_from_url(fourthImage.src, 'download_{{query}}_4.png')">
        <i class="fa fa-download"></i>
      </button>
    </div> 
    
    <!-- Modals for Editing -->
    <div class="modal fade bd-example-modal-lg" id="img_1_modal" tabindex="-1" role="dialog" aria-labelledby="Editing View for Image 1" aria-hidden="true"> -->
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="firstModalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="toolbar">

              <div class="toolbar-item">
                <label class="tool-label" for="brightness">Brightness</label>
                <input class="tool-input" type="range" id="brightnessFirstImage" min="0" max="200">
              </div>
  
              <div class="toolbar-item">
                <label class="tool-label" for="saturation">Saturation</label>
                <input class="tool-input" type="range" id="saturationFirstImage" min="0" max="200">
              </div>
  
              <div class="toolbar-item">
                <label class="tool-label" for="blur">Blur</label>
                <input class="tool-input" type="range" id="blurFirstImage" min="0" max="25">
              </div>
  
              <div class="toolbar-item">
                <label class="tool-label" for="inversion">Inversion</label>
                <input class="tool-input" type="range" id="inversionFirstImage" min="0" max="100">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="crop">Cropping</label>
                <button id="cropFirstImage" type="button" class="btn btn-primary">Crop</button>
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="crop">Text Editing</label>
                <button id="textEditFirstImage" type="button" class="btn btn-primary">Add Text</button>
                <input id="textInputFirstImage" class="tool-text-input" type="text" placeholder="Enter Text">
                <input id="textInputFirstImageSubmitBtn" class="tool-submit-input" type="submit" value="Submit">
              </div>
              
            </div>
            
            <div id = "firstImageArea" class="image-area">
              <canvas id="firstImageCanvas" height="500" width="500"></canvas>
            </div>
          </div>
          <div class="modal-footer">
            <button id="firstImageSave" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="img_2_modal" tabindex="-1" role="dialog" aria-labelledby="Editing View for Image 2" aria-hidden="true"> -->
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="secondModalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="toolbar">

              <div class="toolbar-item">
                <label class="tool-label" for="brightness">Brightness</label>
                <input class="tool-input" type="range" id="brightnessSecondImage" min="0" max="200">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="saturation">Saturation</label>
                <input class="tool-input" type="range" id="saturationSecondImage" min="0" max="200">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="blur">Blur</label>
                <input class="tool-input" type="range" id="blurSecondImage" min="0" max="25">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="inversion">Inversion</label>
                <input class="tool-input" type="range" id="inversionSecondImage" min="0" max="100">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="crop">Cropping</label>
                <button id="cropSecondImage" type="button" class="btn btn-primary">Crop</button>
              </div>

            </div>
            
            <div class="image-area">
              <canvas id="secondImageCanvas" height="500" width="500"></canvas>
            </div>
          </div>
          <div class="modal-footer">
            <button id="secondImageSave" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="img_3_modal" tabindex="-1" role="dialog" aria-labelledby="Editing View for Image 3" aria-hidden="true"> -->
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="thirdModalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="toolbar">

              <div class="toolbar-item">
                <label class="tool-label" for="brightness">Brightness</label>
                <input class="tool-input" type="range" id="brightnessThirdImage" min="0" max="200">
              </div>
  
              <div class="toolbar-item">
                <label class="tool-label" for="saturation">Saturation</label>
                <input class="tool-input" type="range" id="saturationThirdImage" min="0" max="200">
              </div>
  
              <div class="toolbar-item">
                <label class="tool-label" for="blur">Blur</label>
                <input class="tool-input" type="range" id="blurThirdImage" min="0" max="25">
              </div>
  
              <div class="toolbar-item">
                <label class="tool-label" for="inversion">Inversion</label>
                <input class="tool-input" type="range" id="inversionThirdImage" min="0" max="100">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="crop">Cropping</label>
                <button id="cropThirdImage" type="button" class="btn btn-primary">Crop</button>
              </div>

            </div>
            
            <div class="image-area">
              <canvas id="thirdImageCanvas" height="500" width="500"></canvas>
            </div>
          </div>
          <div class="modal-footer">
            <button id="thirdImageSave" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="img_4_modal" tabindex="-1" role="dialog" aria-labelledby="Editing View for Image 4" aria-hidden="true"> -->
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button id="fourthModalCloseBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="toolbar">

              <div class="toolbar-item">
                <label class="tool-label" for="brightness">Brightness</label>
                <input class="tool-input" type="range" id="brightnessFourthImage" min="0" max="200">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="saturation">Saturation</label>
                <input class="tool-input" type="range" id="saturationFourthImage" min="0" max="200">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="blur">Blur</label>
                <input class="tool-input" type="range" id="blurFourthImage" min="0" max="25">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="inversion">Inversion</label>
                <input class="tool-input" type="range" id="inversionFourthImage" min="0" max="100">
              </div>

              <div class="toolbar-item">
                <label class="tool-label" for="crop">Cropping</label>
                <button id="cropFourthImage" type="button" class="btn btn-primary">Crop</button>
              </div>

            </div>
            
            <div class="image-area">
              <canvas id="fourthImageCanvas" height="500" width="500"></canvas>
            </div>
          </div>
          <div class="modal-footer">
            <button id="fourthImageSave" type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>