<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>AI-Based Sticker Generation</title>
</head>
<body>
  <h1>Search Results for "{{ query }}"</h1>

  <a href="{{ url_for('home') }}" class='btn btn-secondary' id='backbutton'>Create New Search Query</a>

  <div id="results">
    <div class="container" id="top_left_image">
      <img src={{ image_urls[0] }} alt="query result one"/>
      <a href="/downloadImg1/{{query}}" class='btn'>
        <i class="fa fa-download"></i>
      </a>
    </div>

    <div class="container" id="top_right_image">
      <img src={{ image_urls[1] }} alt="query result two"/>
      <a href="/downloadImg2/{{query}}" class='btn'>
        <i class="fa fa-download"></i>
      </a>
    </div>

    <div class="container" id="bottom_left_image">
      <img src={{ image_urls[2] }} alt="query result three"/>
      <a href="/downloadImg3/{{query}}" class='btn'>
        <i class="fa fa-download"></i>
      </a>
    </div>

    <div class="container" id="bottom_right_image">
      <img src={{ image_urls[3] }} alt="query result four"/>
      <a href="/downloadImg4/{{query}}" class='btn'>
        <i class="fa fa-download"></i>
      </a>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>